[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
drf-spectacular = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-storages = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
requests = "*"
python-dateutil = "*"
boto3 = "==1.35.83"
botocore = "==1.35.83"
django-stubs = "*"

[dev-packages]
coverage = "*"
pylint = "*"
pylint-django = "*"
requests-mock = "*"

[requires]
python_version = "3.9"
